OPENAI_API_KEY = "You can get your own API key from https://platform.openai.com/account/api-keys. Make sure to keep it secret and do not share it with anyone."
ANTHROPIC_API_KEY = "You can get your own API key from https://console.anthropic.com/. Make sure to keep it secret and do not share it with anyone."
GOOGLE_API_KEY = "You can get your own API key from https://developers.google.com/custom-search/v1/overview. Make sure to keep it secret and do not share it with anyone."
HUGGINGFACEHUB_ACCESS_TOKEN = "You can get your own access token from https://huggingface.co/settings/tokens. Make sure to keep it secret and do not share it with anyone." 